<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="bootstrap.yml"/>
    <typeAliases>
        <package name="com.ax.javaspringboot.entity"/>
    </typeAliases>


    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://rm-cn-27a3l78sq000guzo.rwlb.rds.aliyuncs.com:3306/ajx"/>
                <property name="username" value="root"/>
                <property name="password" value="Liangsheng1"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.ax.javaspringboot.mappers"/>
    </mappers>

</configuration>